@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: black;
}

.editorText{
  width: 400px;
  height: 400px;
  margin: 100px auto;
}
